* {
    background-color: rgb(49, 49, 49);
    color: whitesmoke;
}

.input_wrapper{
    height: 40px;
    display: flex;
    justify-content: center;
}
.input_wrapper input {
    text-transform: uppercase;
    width: 200px;
}

.wrap {
    width: 200px;
    height: 500px;
    border: solid lime 2px;
}

/* render  */
.container {
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.wrapper {
    max-width: 300px;
    margin: 0;
}

.wrapper img {
    width: 100px;
}